<!DOCTYPE html>
<!--
   This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/.


   This Source Code Form is "Incompatible With Secondary Licenses", as
   defined by the Mozilla Public License, v. 2.0.
 -->
<html>
<head>
<meta charset="ISO-8859-1">
<style type="text/css">
#compare-table td{

border-bottom : 1px solid #cccccc;
height: 50px;
vertical-align:middle;
}
</style>
<title>Recommendations | A design Prototype</title>
<link rel="stylesheet" href="main.css" type="text/css" /> 
<link rel="shortcut icon" href="images/favicon.gif" />
<script type="text/javascript" src="scripts/lib/jquery-1.5.2.js"></script>
<script type="text/javascript" src="scripts/lib/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="scripts/slate-v0.1.0.js"></script>
<script type="text/javascript" src="scripts/modules.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	Core.boot();
});

</script>
</head>
<body>
	<div class="wrapper">
		<header class="h">
			<select id="search-type" class="ss-type">
				<option value="0">All Categories</option>
				<option value="1">Books</option>
				<option value="2">Mobiles & Accessories</option>
				<option value="3">Television & Video Players</option>
			</select> 
			<input type="text" class="ss-text" id="search-box" /> 
			<input type="button" class="ss-text form-button" value="Search" id="search-button" />
		</header>
		<hr class="seperator" />
		<div class="loader"></div>
		<div class="content-wrapper">
			<div class="sidebar">
				<ul>
					<li id="home-link" data="0" class="sidebar-hover">Home &raquo;</li>
					<li data="1">Customer Reviews &raquo;</li>
					<li data="2">Compare &raquo;</li>
					<li data="4">Help &raquo;</li>
				</ul>
			</div>
			<div class="main-area" id="content-pane"> </div>
			<div style="clear: both;"></div>
		</div>
	</div>
</body>
<script id="search-template" type="text/x-jquery-tmpl">
<h2 style="margin-bottom:0px;">${name}</h2>
<span>by - ${author}</span>
<div class="rating-row">
<div class="star-rating-bk" style="float:left;">
<div class="star-rating" style="width:${ratings * 20}%">&nbsp;</div>
</div> &nbsp;&nbsp;<span><b>${ratings}</b> Ratings | <b>${reviewCount}</b> Reviews</span>
</div>
<div>
<img src="${imageUrl}" alt="${name}" style="float:left; margin-right:10px;"/>
<p>${description}</p>
<h1>
</div>
</script>

<script id="cr-template" type="text/x-jquery-tmpl">
<h2 style="margin-bottom:0px; display:inline">${name}</h2>&nbsp;&nbsp;(${reviews.length} Customer Reviews)
<hr style="border:none; border: 1px solid #cccccc;"/>
{{if reviews.length != 0}}
<br/>
{{each reviews}}
<div>
<div style="vertical-align:middle"><h2 style="display:inline">${$value.heading}</h2> - <span><b style="color:#DD4B39;">${$value.user}</b></span> </div>
<div class="rating-row">
<div class="star-rating-bk" style="float:left;">
<div class="star-rating" style="width:${$value.ratings * 20}%">&nbsp;</div>
</div>&nbsp;&nbsp;<span>|&nbsp;&nbsp;${$value.ratings} stars&nbsp;&nbsp; | &nbsp;&nbsp; ${$value.publishDate}</span> 
</div>
<div>${$value.description}</div>
</div>
<br/>
{{/each}}
{{/if}}
</script>
<script id="compare-template" type="text/x-jquery-tmpl">
<h2 style="margin-bottom:0px; display:inline">${name}</h2>&nbsp;&nbsp;(Comparisons)
<hr style="border:none; border: 1px solid #cccccc;"/>
{{if comparisons.length != 0}}
<br/>

<table id="compare-table">
<tr>
<td width="150px"><b>From</b></td>
<td width="50px"><b>Price</b></td>
<td width="100px"><b>Stars</b></td>
<td width="100px"><b>Total Ratings</b></td>
<td width="200px"><b>Total Customer Reviews</b></td>
<td width="150px"><b>Link</b></td>
</tr>
{{each comparisons}}
<tr>
<td>${$value.name}</td>
<td>${$value.price}</td>
<td>
<div class="rating-row">
<div class="star-rating-bk" style="float:left;">
<div class="star-rating" style="width:${$value.ratings * 20}%">&nbsp;</div>
</div>
</div>
</td>
<td>${$value.totalRatings} Ratings</td>
<td>${$value.totalReviews} Reviews</td>
<td><a href="${$value.url}" target="_blank">${$value.name}</a></td>
</tr>
{{/each}}
</table>

{{/if}}
</script>
</html>